* {
    padding: 0;
    margin: 0;
  }
.wrapper {
    margin: 0 18px 100px 18px;
}
.nikita-jiandani-copy-3 {
    height: 72px;
    width: 119px;
    color: #000000;
    font-family: "Patua One";
    font-size: 32px;
    letter-spacing: 0.2px;
    line-height: 36px;
    margin-top: 24px;
}
.intro {
    color: #2A2C2E;
	font-family: Lato;
	font-size: 14px;
	letter-spacing: 0.35px;
    padding-top: 12px;
    width: 280px;
}
.rectangle {
    height: 280px;
    width: 280px;
    background-color: #2A2C2E;
    margin-top: 48px;
}
.projects {
	color: #248700;
	font-family: "Patua One";
	font-size: 20px;
	letter-spacing: 0.25px;
    margin-top: 24px;
}
.content {
	color: #2A2C2E;
	font-family: Lato;
	font-size: 14px;
	letter-spacing: 0.35px;
    padding-top: 12px;
    width: 280px;
}
.navbar {
    height: 39.02px;
    width: 100%;
    background-color: #248700;
    bottom: 0;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.navbar a {
    display: inline-block;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 8px;
}
.tab {
    color: #FFFFFF;
    font-family: "Patua One";
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 24px;
}
.project-name {
    margin-top: 16px;
    color: #248700;
	font-family: "Patua One";
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 20px;
}
#pipe {
	height: 32px;
	width: 3px;
	background-color: #FFFFFF;
	margin-top: 3px;
}
/* MOBILE LANDSCAPE */
@media(min-width: 425px) and (max-width: 767px){
    .nikita-jiandani-copy-3 {
        font-size: 42px
    }
    .projects {
        font-size: 28px;
    }
    .intro {
        font-size: 16px;
        width: 390px;
    }
    .rectangle {
        height: 390px;
        width: 390px;
        margin-top: 58px;
    }
    .project-name {
        font-size: 18px;
    }
    .content {
        font-size: 16px;
        width: 390px;
    }
}
/* TABLET */
@media (min-width: 768px){
    .nikita-jiandani-copy-3{
        font-size: 60px;
        letter-spacing: 0.38px;
        line-height: 60px;
    }
    .projects{
        font-size: 36px;
        letter-spacing: 0.45px;
        line-height: 44px;
        margin-top: 85px;
        margin-bottom: 25px;
    }
    .content{
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 22px;
    }
    .project-name{
        font-size: 20px;
        letter-spacing: 0.25px;
        line-height: 24px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .tile {
        flex: 0 1 280px;
    }
    .wrapper {
        margin: 0 18px 150px 32px;
    }
    .margin {
        margin-left: 40px;
    }
    .intro {
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 22px;
        width: 600px;
    }
    .navbar {
		height: 90px;
		justify-content: flex-start;
		align-items: center;
	}
	.tab {
		font-size: 36px;
		letter-spacing: 0.45px;
		line-height: 44px;
		margin-left: 32px;
	}
    #pipe {
		height: 63px;
		width: 5px;
	}
}